<div class="widget--useful-links widget">
    <div class="widget-icon">
        {{ partial "helper/icon" "link" }}
    </div>
    <h2 class="widget-title section-title">関連リンク</h2>
    <div class="widget-body">
        <ol class="useful-links-list">
            <li><a href="https://learn.microsoft.com/ja-jp/sharepoint/dev/" target="_blank" rel="noopener">SharePoint Dev ドキュメント</a></li>
            <li><a href="https://learn.microsoft.com/ja-jp/graph/overview" target="_blank" rel="noopener">Microsoft Graph</a></li>
            <li><a href="https://learn.microsoft.com/ja-jp/power-platform/" target="_blank" rel="noopener">Power Platform</a></li>
            <li><a href="https://pnp.github.io/" target="_blank" rel="noopener">PnP Community</a></li>
            <li><a href="https://developer.microsoft.com/ja-jp/graph/graph-explorer" target="_blank" rel="noopener">Graph Explorer</a></li>
            <li><a href="https://adoption.microsoft.com/ja-jp/" target="_blank" rel="noopener">Microsoft 採用センター</a></li>
        </ol>
    </div>
</div>